doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title Google
    
    link(rel="stylesheet", href="https://raw.githubusercontent.com/necolas/normalize.css/master/normalize.css")
    link(rel="stylesheet", href="css/main.css")
  body
    #nav
      ul
        li <a href="#">Gmail</a>
        li <a href="#">Images</a>
        li <img src="img/menu.png"></img>
        li(id="sign-in") Sign in
    
    section
      img(src="img/logo.png" alt="Google Logo" id="logo")
      #search
        input(type="text" name="searchbar")
      br
      #buttons
        input(type="button" class="button" name="search-button" value="Google Search")
        input(type="button" class="button" name="lucky-button" value="I'm Feeling Lucky")
        
    footer
      ul(id="left")
        li <a href="#">Advertising</a>
        li <a href="#">Business</a>
        li <a href="#">About</a>
      ul(id="right")
        li <a href="#">Privacy</a>
        li <a href="#">Terms</a>
        li <a href="#">Settings</a>
