doctype html
html 
  head
    title Lake Tahoe
    link(rel="stylesheet", href="css/styles.css") 
    meta(name="viewport", content="width=device-width")
    
  body
    header(id="top", class="main-header")
      span(class="title") Journey through the Sierra Nevada Mountains
      h1 Lake Tahoe, California
      img(class='arrow', src='img/arrow.svg', alt='Down arrow')
      
    .primary-content(class="t-border")
      p Lake Tahoe is one of the most breathtaking attractions located in California. It's home to a number of ski resorts, summer outdoor recreation, and tourist attractions. Snow and skiing are a significant part of the area's reputation.
      a(href="#top") Find out more
      .wildlife
        h2 Check out all the Wildlife
        p  As spawning season approaches, the fish acquire a humpback and protuberant jaw. After spawning, they die and their carcasses provide a feast for gatherings of <a href="#mink">mink</a>, <a href="#bears">bears</a>, and <a href="#eagles">Bald eagles</a>.
        a(href="#top") See the Wildlife

    .secondary-content(class="t-border group") 
      .resorts
        img(src="img/resort.jpg", alt='Resort')
        h3 From Tents to resorts
        p Lake Tahoe is full of wonderful places to stay. You have the ability to sleep in a tent, or relax like a king at a five star resort. Here are our top three resorts:
        ul
          li 
            a(href="#top") Lake Tahoe Resort Hotel
          li 
            a(href="#top") South Lake Tahoe Resorts
          li 
            a(href="#top") Tahoe Ski Resort Lodging
      .tips
        img(src='img/mtn-landscape.jpg')
        h3 Pack Accordingly
        p One of most important things when it comes to traveliong through the great outdoors is packing accordingly. Here are a few tips:
        ol
          li Bring layers of clothing
          li Pack sunscreen
          li Carry extra water just in case
          li Pack light
      
    .main-footer(class="t-border")
      p All rights reserved to the state of <a href="#">California</a>
      a(href="#top") Back to top &raquo; 
       
      
        
      
      
      
  
