doctype html
html
  head
    meta(charset="utf-8")
    title Kyle Regan | Developer
    link(rel="stylesheet", href="css/normalize.css")
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic,800|Noto+Sans:400,700' rel='stylesheet' type='text/css')
    link(rel="stylesheet", href="css/styles.css")
    link(rel="stylesheet", href="css/responsive.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    header
      a(href="index.html" id="logo") 
        h1 Kyle Regan
        h2 Developer
      img(src="img/kyle.png", alt="Photo of Kyle Regan" class='profile-photo')
    #about
      section
        
        h3 About
        p Hello, my name is Kyle. I designed this website for one purpose. To get you to better understand who I am and what I am all about.
        p 
        | My main drive in life right now is to pursue a career in an Open Source field. I have taught myself and trained to become proficient in a terminal environment with Linux, and I can use 
        | my knowledge to lock down a system and keep it running with little to no downtime. Using Linux and Open Source tools, I hope to become a better developer. Although I am still just a 
        | novice to Web Development, I remain very vigilant in my studies and continue to pursue a daily routine of "programming at least 4 hours a day."
        p Although this site is small at this moment, I have big plans for it. As my knowledge of web development grows, this site will grow along with it.
        p This little project of mine will reflect my current experience as a Web Developer. 
    #snh
      section
        h3 Skills & Hobbies
        #skills
          h4 Skills
          ul
            li Linux Administration (Arch/CentOS/Debian/Ubuntu)
            li Linux Server Maintenance/Set Up (CentOS/Debian)
            li Web Development (HTML5/CSS3/JavaScript)
            li Windows Server Maintenance/Set up
            li Computer Repair
            li Teaching Computer Skills
        #hobbies
          h4 Hobbies
          ul
            li Motorcycle Riding
            li Motorcycle Maintenance
            li Flying Quadcopters and Gliders
            li Piano
            li Reading
            li Hiking
            li Camping
            li Aeronautics
    #contact
      section(id='primary')
        h3 General Info
        p If you are in need of a hard working and dedicated Web Developer or IT consultant, feel free to message me any time of the day!
        p The best way to reach me is via email.
      section(id='secondary')
        h3 Contact Details
        ul(class='contact-info')
          li(class='phone') 
            a(href='tel:(949)295-3235') (949)295-3235
          li(class='mail')
            a(href='mailto:kyleregants@gmail.com') kyleregants@gmail.com
    footer 
      a(href="http://twitter.com/TinyStego") 
        img(src="img/twitter-wrap.png", alt="Twitter Logo" class='social-icon')
      a(href="http://facebook.com/standup23") 
        img(src="img/facebook-wrap.png", alt="Facebook Logo" class='social-icon')
      p &copy; 2016 Kyle Regan
